*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Inter';
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EBD7FF;
}
.player {
    position: relative;
    top: -150px;
    height: 465px;
    width: 738px;
    background-color: white;
    border: black;
    border-width: 2px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
}
.song{
    position: relative;
    top: -300px;
    align-items: center;
    height: 100px;
    width: 738px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
    text-align: center;

}

.elements.next{


}

.elements.previous{

}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #31243a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #705189;
}
.buttonSites{
    display: inline-block;
    font-size: x-large;
    padding: 10px 20px;
    margin: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.banner {
      background-color: rgb(161, 115, 188);
      margin: 0px;
      width: 100%;
      padding: 1px 0;
      text-align: left;
      display: flex;
      justify-content: space-between;

}
.banner-title{
    color: white;
    margin-left: 5px;
}