<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/about.css">
    <script type="text/javascript" defer src= "/js/script.js"></script>

</head>

<body>
    <div class="banner">
      <header class="title">
        <h2><a href="/" class="title">Intertune</a></h2>
      </header>
      <nav>
        <a href="/about" class="buttonSites">About Us</a>
        <a href="/howitworks" class="buttonSites">How It Works</a>
        <button id="showLogin" class="button">Login</button>
        <button id="showSignUp" class="button">Sign Up</button>
    
      </nav>
      
    </div>

    
  
    <div class="container">
      <section class="player">
        <div class="row slideshow">

          
          <%- include('../partials/login.ejs') %>

          <div class="slider">
            <img id="slide-1" src="img/about/concert people.jpg" alt="People at a concert">
            <img id="slide-2" src="img/about/colorful gradient.jpg" alt="A colorful gradient image">
            <img id="slide-3" src="img/about/girl on phone petting dog.jpg" alt="Girl on her phone petting a dog">
            <img id="slide-4" src="img/about/two people listening to music.jpg" alt="Two people listening to music">
          </div>
  
          <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
          </div>
        </div>
  
        <div class="row row1">
          <h1 class="feature">Feature Name</h1>
          <img src="img/about/heart icon.png" class="heart">
        </div>
  
        <div class="row row2">
          <img src="img/about/song progress line.png" class="song">
        </div>
    
        <div class="row row3">
          <img src="img/about/shuffle icon.png" class="shuffle">
          <a href="#slide-1"><img src="img/about/previous button.png" class="prev"></a>
          <img src="img/about/play button.png" class="play">
          <a href="#slide-4"><img src="img/about/next button.png" class="next"></a>
          <img src="img/about/loop icon.png" class="loop">
        </div>
      </section>
    
      <section class="info">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. At erat 
          pellentesque adipiscing commodo elit at imperdiet. Augue
          mauris augue neque gravida in fermentum. A pellentesque
          sit amet porttitor eget dolor morbi non arcu. Tincidunt tortor aliquam nulla facilisi cras.
          Senectus et netus et malesuada fames ac turpis egestas sed.</p>
        
        <p>Eu sem integer vitae justo eget. Augue eget arcu dictum varius duis at. 
          In eu mi bibendum neque egestas congue quisque egestas. Nec 
          nam aliquam sem et tortor consequat. Ac placerat vestibulum 
          lectus mauris ultrices. Aliquet eget sit amet tellus cras adipiscing 
          enim. Suspendisse potenti nullam ac tortor vitae purus faucibus. Ut 
          aliquam purus sit amet luctus venenatis lectus magna.</p>
        </section>
  
    </div>
  
  </body>

</html>