<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src= "/js/script.js"></script>

</head>
<body>

    <div class="banner">
        <header class="title">
            <h2>Intertuned</h2>
        </header>
        <nav>
          <a href="about.html" class="buttonSites">About Us</a>
          <a href="how-it-works.html" class="buttonSites">How It Works</a>
          <button id="showLogin" class="button">Login</button>
          
          <!---
          <div class="loginPopup">
            <div class="close">&times;</div>
            <div class="form"></div>
            <h2>Log in</h2>
            <div class="formElement">
              <label for="email">Email</label>
              <input type="text" id="email" placeholder="Enter email">
            </div>
            <div class="formElement">
              <label for="password">Password</label>
              <input type="password" id="password" placeholder="Enter password">
            </div>
            <div class="formElement">
              <input type="checkbox" id="remember-me">
              <label for="remember-me">Remember me</label>
            </div>
            <div class="formElement">
              <button>Sign in</button>
            </div>
            <div class="formElement">
              <a href="#">Forgot password?</a>
            </div>

          </div>
        -->
          
          <button id="showLogin" class="button">Sign Up</button>
        </nav>
    </div>
  <div class="player">
    <div class="slideshow"> 
      <a class="arrows prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="arrows next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    

    <div class="playerSplit">
      <div class="getStarted">
        <label for="Email"></label>
        <input type ="text" class= "emailBox" id="Email" name="Email" placeholder="Enter your e-mail to get started!"> 
      </div>
      <div class="alreadyUser">
        <p>Already a user?</p>
      </div>
      <div class="favorite">
        <img src="favorite.png" class="favorite-icon"> 
      </div>
    </div>

    <div class="progressBar">
      <div class="line"></div>
      <div class="progressButton"></div>
    </div>

    <div class="play">
      <div class="playCircle"></div>
      <div class="play-icon"></div>
    </div>
    
    <div class="iconsSplit">
      <img src="shuffle.webp" class="icon shuffle-icon">
      <img src="back.webp" class="icon back-icon">
      
      <img src="forward.webp" class="icon forward-icon">
      <img src="replay.png" class="icon replay-icon">
    </div>

  </div>


    <%- body %>
</body>
</html>