<div class="banner">
    <header class="title">
        <h2>Intertuned</h2>
    </header>
    <nav>
      <a href="about" class="buttonSites">About Us</a>
      <a href="how-it-works.html" class="buttonSites">How It Works</a>
      <button id="showLogin" class="button">Login</button>
      
      <%- include('../partials/login.ejs') %>
      
      <button id="showLogin" class="button">Sign Up</button>
    </nav>
</div>