
<div class="banner">
    <header class="title">
      <h2><a href="/" class="title">Intertune</a></h2>
    </header>
    <nav>
      <a href="/about" class="buttonSites ">About Us</a>
      <a href="/howitworks" class="buttonSites">How It Works</a>
      <button id="showLogin" class="button">Login</button>
      <button id="showSignUp" class="button">Sign Up</button>
    </nav>
</div>
<%- include('../partials/login.ejs') %>