
<div class="loginPopup">
    <div class="close">&times;</div>
    <div class="form">
        <h2>Log in</h2>
        <div class="formElement">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter email">
        </div>
        <div class="formElement">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter password">
        </div>
        <div class="formElement">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
        </div>
        <div class="formElement">
            <button>Sign in</button>
        </div>
        <div class="formElement">
            <a href="#">Forgot password?</a>
        </div>
    </div>

</div>